@import '../../components/NumTestBg.css';

/* 主要內容區 */
.num1-numtest{
    width: 100%;
    height: 100vh;
    /* height: calc(100vh - 70px); */
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 

    background: url(/public/images/Numtest/numtest_backgroung.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* 第一個標題 */
#num1-title-1{
    display: flex;
    /* justify-content: center; */
    align-items: center; 
    gap: 32px;
    margin-bottom: 34px; 
}
/* 左右裝飾 */
.num1-decorate-left,.num1-decorate-right{
    width: 82.94px;
    height: 11.31px;
}
/* 標題 */
.num1-decorate-title{
    color: #8750BF;
    text-align: center;
    font-family: "LXGW WenKai Mono TC";
    font-size: 28px;
    letter-spacing: 2.8px;
}

/* 第二個標題 */
#num1-title-2{
    font-family: "LXGW WenKai Mono TC";
    font-size: 36px;
    letter-spacing: 3.6px;
    color: #8750BF;
    margin-bottom: 70px; 
}

/* 按鈕 */
#num1-button{
    display: flex;
    width: 300px;
    padding: 10px 83px;
    justify-content: center;
    align-items: center; 
    border: none;
    border-radius: 999px; 
    color: white; 
    background-color: #A67CEB;
    font-family: "Noto Sans TC";
    font-size: 24px;
    letter-spacing: 2.4px;
    cursor: pointer;
}