@import '../../components/NumTestBg.css';

/* 主要內容區 */
.num2-numtest{
    width: 100%;
    /* height: 100vh; */
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 

    background: url(/public/images/Numtest/numtest_backgroung.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* 第一個標題區 */
#num2-title-1{
    /* width: 483.87px;
    height: 42px; */
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 32px;
    margin-bottom: 46.11px; 
}
/* 左右裝飾 */
.num2-decorate-left,.num2-decorate-right{
    width: 82.94px;
    height: 11.31px;
}
/* 標題 */
.num2-decorate-title{
    color: #8750BF;
    text-align: center;
    font-family: "LXGW WenKai Mono TC";
    font-size: 28px;
    letter-spacing: 2.8px;
}

/* 第二個：主標題區 */
#num2-title-2{
    font-family: "LXGW WenKai Mono TC";
    font-size: 36px;
    /* line-height: 54px; */
    letter-spacing: 3.6px;
    color: #8750BF;
    height: 126px;
}

/* 填入西元出生年月日區 */
#num2-date{
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 69px; /* 加大欄位之間的距離 */
    margin-bottom: 89.79px; /* 跟下方按鈕保留空間 */

}
/* yyyy區/dd區/mm區 */
.num2-date-enter{
    /* background-color:#A67CEB; */
    display: inline-flex;
    border-bottom: 2px solid #8750BF;
    width: 213px; 
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/* yyyy/dd/mm */
.num2-date-enter span {
    /* background-color: aqua; */
    color: rgba(0, 0, 0, 0.24);
    font-family: "Noto Sans TC";
    font-size: 36px;
    line-height: 59.76px;
    letter-spacing: 7.20px;
    /* margin-bottom: 8px; */
}
/* 選擇鈕 */
.num2-date-button {
    /* background-color: coral; */
    height: 30px;
    width: 31.46px;
    cursor: pointer;
    /* margin-bottom: 15px; */
    /* margin-left: 20px; */
}
/* 日曆button */
.num2-calendar {
    /* background-color: yellowgreen; */
    height: 40px;
    width: 36px;
    cursor: pointer;
    /* margin-left: 60px; */
}


/* 按鈕 */
#num2-button{
    display: flex;
    width: 300px;
    padding: 10px 83px;
    justify-content: center;
    align-items: center; 
    border: none;
    border-radius: 999px; 
    color: white; 
    background-color: #A67CEB;
    font-family: "Noto Sans TC";
    font-size: 24px;
    letter-spacing: 2.4px;
    cursor: pointer;
}