.auth-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-form input {
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.auth-form button {
  padding: 10px;
  background-color: #a46be5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #8e59cd;
}