/* 外層讓 tab 跟 modal 切齊 */
.login-modal-outer {
  width: 100%;
  height: 100%;
}

/* 這層包住 tabs + form 的區塊 */
.tabs-wrapper {
  border-radius: 40px;
  overflow: hidden;
  background: #f4f0fa;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.tabs-container {
  height: 100%;
}

/* Tabs 上面按鈕 */
.tabs {
  display: flex;
  width: 100%;
}

.tabs button {
  flex: 1;
  /* padding: 30px 0; */
  padding: clamp(20px, 2.5vh, 30px) 0;
  font-size: 24px;
  border: none;
  background: transparent;
  color: #8750bf;
  font-family: 'Noto Sans TC', sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
}


.tabs button:not(.active) {
  background: #E9E3F2;
  font-weight: 400;
  color: #bfa9c8;
}

.tabs button.active {
  background: #F4F3FB;
  color: #8750bf;
  font-weight: normal;
}
/* 內部 form padding 控制 */
.form-area {
  background: #F4F3FB;
  padding: 0 2.813rem 2.5rem;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* height: 630px; */
  height: 88.5%;
  width: 100%;

  flex: 1;
}
