.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #F4F3FB;
  border-radius: 40px;
  padding: 25.5px 45px 25.5px;
  width: 480px;
  max-width: 90%;
  position: relative;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

