# Log 檔案
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 編譯產物
node_modules/
dist/
dist-ssr/
*.local

# 編輯器設定檔
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store

# Visual Studio 專案檔案（很少用，但保留保險）
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
