//RWD斷點  @media()
$media-sm:"(max-width:640px)";   //640以下
$media-md:"(max-width:820px)";   //820以下
$media-lg:"(max-width:1024px)";  //1024-640


// // 速率
// $speed-fast: 0.35s; //通常
// $speed-slow: 0.65s;

// //邊框
// $border-s: 1px solid;
// $border-m: 2px solid;
// $border-l: 3px solid;

// //圓角
// $radius-ex: 99px; //膠囊型
// $radius-s: 3px; 
// $radius-m: 8px; 
// $radius-l: 16px; 

// // 排序
// $z-bg:-1;
// $z-ex:999;

