@use "./variable" as *;
@import "../../index.css";
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans+TC:wght@100..900&display=swap');
//google font，就算瀏覽者電腦中沒有安裝也能套到

/* reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    // box-sizing: border-box;
    /* 不累加邊框及內距 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
}

/* 重置連接 */
a {
    display: block; // a預設的行內元素，不支援約寬高及上下間距，通常會改為區塊，方便設定
    // color: $color-deep;
    text-decoration: none;
}

/* ------字體------ */

body {
    font-family: 'Lora-Italic', 'Georgia', "LXGW WenKai Mono TC", serif; //serif 套系統有襯線字
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: 2px;
}

// /*menu展開頁*/
// /*全文底色*/
#menu {
    // background-image: url(../../../public/images/);
    background-color: #a541be;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    width: 100%;
    height: 100vh;
    position: relative;

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 23px;

        position: relative;

        @media ($media-lg) {
            flex-direction: column;
            gap: 0px;
        }

        .closebtn {
            position: absolute;
            right: 3.47%;
            top: 3.75%;

            @media ($media-lg) {
                right: 3.47%;
                top: 3.75%;
            }
        }

        .menu {
            width: 15.7%;
            height: 91.25vh;
            border: 1px solid #fff;
            border-top: none;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            @media ($media-lg) {
                width: 91.25vw;
                height: 20vh;
                border-top: none;
                border-right: none;
                border-left: none;
                flex-direction: row;
                // justify-content: center;
                align-content: center;
            }
        }

        h2 {
            font-size: 34px;
            width: 180px;
            height: 120px;
            margin: 130px 0 23px 0;

            display: flex;
            justify-content: center;
            align-items: center;

            @media ($media-xlg) {
                font-size: 24px;
            }

            @media ($media-lg) {
                // font-size: 24px;
                margin: 0 155px 0 0
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 24px;

            @media ($media-lg) {
                display: flex;
                flex-direction: column;
                justify-items: center;
                align-content: center;
                gap: 24px;
            }
        }

        li {
            font-size: 16px;
            height: 26px;
            // width: 137.67px;
            list-style: none;
            // margin-bottom: 24px;

            display: flex;
            justify-content: center;
            align-items: center;
            // gap: 24px;
            // z-index: 1;

            @media ($media-xlg) {
                font-size: 12px;
            }

            &::before {
                content: "";
                display: block;
                // left: 10.61px;
                // top: 18.28px;
                transform: rotate(-35deg);
                width: 10.61px;
                height: 18.28px;
                margin-right: 16px;

                background-image: url("../../../public/images/HomePage/deco-menu-diamond.svg");
                background-size: contain;
                background-repeat: no-repeat;
            }

            &::after {
                content: "";
                display: block;
                // left: 10.61px;
                // top: 18.28px;
                transform: rotate(35deg);
                width: 10.61px;
                height: 18.28px;
                margin-left: 16px;

                background-image: url("../../../public/images/HomePage/deco-menu-diamond.svg");
                background-size: contain;
                background-repeat: no-repeat;
            }

            a {
                color: #fff;
            }
        }

        .menu-last {
            width: 15.7%;
            height: 91.25vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 27px;

            @media ($media-lg) {
                width: 91.25vw;
                height: 20vh;

                flex-direction: row;
                // justify-content: center;
                align-content: center;
            }

            .menu-last1 {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                border: 1px solid #fff;
                border-top: none;

                @media ($media-lg) {
                    width: 91.25vw;
                    height: 20vh;
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    flex-direction: row;
                    // justify-content: center;
                    align-content: center;
                }
            }

            .menu-last2 {
                // border: #fff 2px solid;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 12px;

                .scicon-box {
                    display: flex;
                    justify-items: center;
                    align-items: center;
                    gap: 16px;

                    img {
                        width: 30px;
                        height: 30px;
                    }

                    .line {
                        content: '';
                        width: 30px;
                        height: 30px;
                        background-image: url(../../../public/images/S-Footer/icon_line.svg);
                        background-repeat: no-repeat;
                        background-size: contain;

                        &:hover {
                            background-image: url(../../../public/images/S-Footer/icon_line_h.svg);
                        }
                    }

                    .ig {
                        content: '';
                        width: 30px;
                        height: 30px;
                        background-image: url(../../../public/images/S-Footer/icon_ig.svg);
                        background-repeat: no-repeat;
                        background-size: contain;

                        &:hover {
                            background-image: url(../../../public/images/S-Footer/icon_ig_h.svg);
                        }
                    }

                    .fb {
                        content: '';
                        width: 30px;
                        height: 30px;
                        background-image: url(../../../public/images/S-Footer/icon_fb.svg);
                        background-repeat: no-repeat;
                        background-size: contain;

                        &:hover {
                            background-image: url(../../../public/images/S-Footer/icon_fb_h.svg);
                        }
                    }
                }
            }
        }
    }
}

#cover {
    background-color: #484351; //做RWD用
    // border: #fff 5px solid; //做RWD用
    // z-index: -1;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // width: 100%;
    // width: 1440px;
    // height: 4755px;
    // border: 5px #FFF solid;
    position: relative;

    .bgdark1 {
        position: absolute;
        background: linear-gradient(180deg, rgba(96, 77, 172, 1) 0%, rgba(130, 104, 210, 1) 100%);
        clip-path: ellipse(140% 100% at 50% 0%);
        /* 正圓弧裁切 */
        padding: 120px 20px 160px;
        display: flex;
        width: 100%;
        height: 255vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 0;
        overflow: hidden;



        //     background-image: url(../../../public/images/coverbg1.svg);
        // border: #5c90d4 10px solid;
        // width: 100%;
        // height: 250vh;
        // // border-radius-bottom: 999px;
        // border-bottom-left-radius: 999px;
        // border-bottom-right-radius: 999px;


        // position: absolute;
        // top: 0%;
        // left: 0%;
        // z-index: 3;

        //     @media ($media-lg) {
        //         // width: 299px;
        //         // height: 587px;
        //     }

        //     @media ($media-md) {
        //         // width: 299px;
        //         // height: 587px;
        //     }

        //     @media ($media-sm) {
        //         // width: 299px;
        //         // height: 587px;
        //     }

    }

    .bgdark2 {
        margin-top: 150px;
        clip-path: ellipse(100% 100% at 50% 100%);
        padding: 160px 20px 40px;
        // position: relative;
        width: 100%;
        overflow: hidden;
        z-index: 0;
        display: flex;
        flex-direction: column;
        padding-bottom: 160px;

        width: 100%;
        height: 128vh;
        //     background-image: url(../../../public/images/coverbg2.svg);
        //     background-repeat: no-repeat;
        //     width: 100%;
        //     height: 36.5%;
        position: absolute;
        top: 477.6vh;
        left: 0;
        // z-index: 1;

        //     background-position: center;
        //     background-size: cover;

        //     @media ($media-lg) {
        //         // width: 299px;
        //         // height: 587px;
        //     }

        //     @media ($media-md) {
        //         // width: 299px;
        //         // height: 587px;
        //     }

        //     @media ($media-sm) {
        //         // width: 299px;
        //         // height: 587px;
        //     }
    }
}

/*封面1*/
.ch-cover {
    border: #2fcf3d 2px solid;
    width: 100%;
    height: 100vh;
    position: relative;

    @media ($media-md) {
        width: 100%;
    }

    .cover-box {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .deco1 {
            width: 53px;
            height: 94px;
            transform: rotate(-29deg);

            // 定位
            position: absolute;
            left: 31.6%;
            top: 29.6%;

            @media ($media-lg) {
                left: 27%;
                top: 40%;
            }


            @media ($media-md) {
                left: 24%;
                top: 38%;
            }

            @media ($media-sm) {
                left: 14%;
                top: 39%;
            }
        }

        h2 {
            color: #FFF;
            font-size: 24px;

            span {
                font-family: 'LXGW WenKai Mono TC';
                font-weight: 100;
                line-height: 1.5%;
                letter-spacing: 8px;
            }

            .cover1 {
                font-size: 24px;
                writing-mode: vertical-rl;
                width: 44px;
                height: 324px;
                // 定位
                position: absolute;
                left: 43.4%;
                top: 16.1%;

                @media ($media-lg) {
                    left: 40.4%;
                    top: 30.1%;
                }


                @media ($media-md) {
                    left: 39.4%;
                    top: 26.1%;
                }

                @media ($media-sm) {
                    left: 34%;
                    top: 25.1%;
                }
            }


            .cover2 {
                font-size: 24px;
                writing-mode: vertical-rl;
                width: 44px;
                height: 324px;
                // 定位
                position: absolute;
                left: 52.7%;
                top: 28.6%;

                @media ($media-lg) {
                    left: 53.4%;
                    top: 41.1%;
                }


                @media ($media-md) {
                    left: 55.4%;
                    top: 40.1%;
                }

                @media ($media-sm) {
                    left: 50%;
                    top: 41.1%;
                }
            }
        }

        .deco2 {
            width: 22px;
            height: 38px;
            transform: rotate(10deg);
            // 定位
            position: absolute;
            left: 62.8%;
            top: 24.3%;

            @media ($media-lg) {
                left: 68%;
                top: 36%;
            }


            @media ($media-md) {
                left: 71.4%;
                top: 33.1%;
            }

            @media ($media-sm) {
                left: 75%;
                top: 35%;
            }
        }

        .deco3 {
            width: 34px;
            height: 60px;
            transform: rotate(24deg);

            // 定位
            position: absolute;
            left: 65.8%;
            top: 68.3%;

            @media ($media-lg) {
                left: 70%;
                top: 67%;
            }


            @media ($media-md) {
                left: 76.4%;
                top: 75.1%;
            }

            @media ($media-sm) {
                left: 78%;
                top: 77%;
            }
        }

        .scroll {
            width: 28.5px;
            height: 97.1px;

            // 定位
            position: absolute;
            left: 49%;
            top: 72.8%;

            @media ($media-lg) {
                left: 50%;
                top: 76.1%;
            }


            @media ($media-md) {
                left: 50%;
                top: 84%;
            }

            @media ($media-sm) {
                left: 50%;
                top: 81%;
            }
        }


    }

}

/*封面2*/
.section-starttest {
    border: #e2c521 2px solid;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    position: relative;
    // gap: 0;

    // @media ($media-xxlg-up) {
    //     // justify-content: center;
    //     gap: 0%;
    // }

    @media ($media-lg) {
        justify-content: center;
    }

    @media ($media-md) {
        justify-content: center;
    }

    @media ($media-sm) {
        justify-content: center;
    }

    .startbox1 {
        display: flex;
        justify-content: center;
        align-content: start;
        gap: 35%;

        .lefth {
            width: 299px;
            height: 587px;

            @media ($media-xxlg-up) {
                width: 350px;
                height: 710px;
            }

            @media ($media-xlg) {
                //ipad air橫 &ipad pro直 共用(爆)
                width: 245px;
                height: 587px;
            }

            // @media ($media-lg-up) {
            //     width: 200px;
            //     height: 587px;
            // }

            @media ($media-lg) {
                width: 200px;
                height: 587px;
                // ipad Pro 1024*1366沒套到
            }

            @media ($media-md) {
                width: 200px;
                height: 587px;
            }

            @media ($media-sm) {
                width: 120px;
                height: 587px;
            }

        }

        .righth {
            width: 299px;
            height: 587px;

            @media ($media-xxlg-up) {
                width: 350px;
                height: 710px;
            }

            @media ($media-xlg) {
                width: 245px;
                height: 587px;
            }

            // @media ($media-lg-up) {
            //     width: 200px;
            //     height: 587px;
            // }

            @media ($media-lg) {
                width: 200px;
                height: 587px;
                // ipad Pro 1024*1366沒套到
            }

            @media ($media-md) {
                width: 200px;
                height: 587px;
            }

            @media ($media-sm) {
                width: 120px;
                height: 587px;
            }
        }
    }

    .startbox2 {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        gap: 22.2px;

        @media ($media-xxlg-up) {
            gap: 22.2px;
        }

        @media ($media-xlg) {
            // width: 129px;
            // height: 346px;
            // left: 43.5%;
            // top: 29.5%;
        }

        @media ($media-lg) {
            gap: 30px;
        }

        @media ($media-md) {
            gap: 22.2px;
        }

        @media ($media-sm) {
            gap: 22.2px;
        }

        p {
            color: #FFF;
            font-size: 24px;
            padding-top: 50.2px;

            @media ($media-xlg) {
                padding-top: 20px;
            }
        }

        img {
            width: 28.5px;
            height: 97.1px;
        }
    }

    .startbtn a {
        width: 152.49px;
        height: 346.82px;
        position: absolute;
        left: 44.7%;
        top: 25.6%;
        z-index: 1;

        @media ($media-xxlg-up) {
            left: 45%;
            top: 27%;
        }

        @media ($media-xlg) {
            width: 129px;
            height: 346px;
            left: 44.5%;
            top: 29.5%;
        }

        @media ($media-lg) {
            width: 100.49px;
            height: 346.82px;
            left: 43.5%;
            top: 36%;
        }

        @media ($media-md) {
            left: 43.5%;
            top: 35.5%;
        }

        @media ($media-sm) {
            //還沒改
            left: 12%;
            top: 35%;
        }

    }

    .bling {
        // width: 445.82px;
        // height: 402.37px;
        width: 30.9%;
        height: 50.2%;
        z-index: 0;

        position: absolute;
        left: 34%;
        top: 27.8%;

        @media ($media-xxlg-up) {
            left: 35%;
            top: 28%;
        }

        @media ($media-xlg) {
            // width: ;
            // height: ;
            left: 34.5%;
            top: 32.5%;
        }

        @media ($media-lg) {
            width: 36.9%;
            height: 50.2%;
            left: 31.5%;
            top: 37%;
        }

        @media ($media-md) {
            left: 32%;
            top: 37%;
        }

        @media ($media-sm) {
            left: 12%;
            top: 35%;
        }

    }

    .numbg {
        width: 78.3%;
        height: 88.4%;
        z-index: 0;

        position: absolute;
        left: 11.3%;
        top: 8.7%;

        @media ($media-xxlg-up) {
            height: 88.4%;
            left: 10%;
            top: 10%;
        }

        @media ($media-lg) {
            width: 95.3%;
            height: 88.4%;
            left: 3%;
            top: 27%;
        }

        @media ($media-md) {
            left: 2.5%;
            top: 27%;
        }

        @media ($media-sm) {
            left: 12%;
            top: 35%;
        }
    }
}

/*憑直覺抽一張吧*/
////ipad pro 套不到
#section-tarotcard {

    border: #e22121 2px solid;

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media ($media-lg) {
        justify-content: center;
    }

    @media ($media-md) {
        justify-content: center;
    }

    @media ($media-sm) {
        justify-content: center;
    }


    .tarotcard {
        // margin: 8.7% 10% 9% 10%;

        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;

        gap: 7.5%; ////////////////////////////////

        #tarotcard-title {
            color: #fff;
            font-size: 24px;
            width: 344px;
            height: 42px;
            margin-top: 8.7vh; //70px
            margin-bottom: 7.5vh; //60px

            // @media ($media-lg) {
            //     margin-top: 8.7vh; //70px
            //     margin-bottom: 7.5vh; //60px
            // }

            // @media ($media-md) {
            //     margin-top: 8.7vh; //70px
            //     margin-bottom: 7.5vh; //60px
            // }

            // @media ($media-sm) {
            //     margin-top: 8.7vh; //70px
            //     margin-bottom: 7.5vh; //60px
            // }

            display: flex;
            justify-items: center;
            align-items: center;

            span {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .dimond-left {
                width: 22px;
                height: 39.22px;
                margin: 0 50px 0 0;
            }

            .dimond-right {
                width: 22px;
                height: 39.22px;
                margin: 0 0 0 50px;
            }
        }

        #tarotcard-box {
            // width: 1279;
            // height: 427px;
            // border: 1px solid white; 
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            .trcardchild-1 {
                width: 280px;
                height: 455px;
                margin-left: 0;

                @media ($media-xlg) {
                    width: 265px;
                }


                @media ($media-lg) {
                    width: 225px;
                    height: 455px;
                }

                @media ($media-md) {
                    width: 210px;
                    height: 455px;
                }

                @media ($media-sm) {
                    width: 190px;
                    height: 455px;
                }
            }

            .trcard {
                width: 280px;
                height: 455px;
                margin-left: -110px;

                @media ($media-xlg) {
                    width: 265px;
                }

                @media ($media-lg) {
                    width: 225px;
                    height: 455px;
                }

                @media ($media-md) {
                    //ipad mini 1024*768 抓不到
                    width: 210px;
                    height: 455px;
                }

                @media ($media-sm) {
                    width: 190px;
                    height: 455px;
                }

            }

        }

        #tarotcard-btn {
            width: 283px;
            height: 70px;
            // padding: 20px 100px;
            margin-top: 60px;
            margin-bottom: 70px;
            display: flex;
            justify-content: center; //items or content
            align-items: center;

            /*樣式*/
            color: #8750BF;
            background-color: transparent;
            border-radius: 1000px;
            border: 2px solid #8750BF;
            backdrop-filter: blur(2px);

            a {
                color: #8750BF;
            }
        }
    }
}

/*訂製專屬手鍊*/
#custom {
    color: #fff;
    height: 87.5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    // 背景
    background-image: url("../../../public/images/HomePage/custom-banner.jpg");
    background-size: cover; //讓圖片填滿容器
    background-position: center; //圖片置中
    background-repeat: no-repeat; //不重複

    @media ($media-lg) {
        width: 100%;
    }


    @media ($media-md) {
        width: 100%;

    }

    @media ($media-sm) {
        width: 100%;
    }

    #title-all {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .custom-title {
            width: 768px;
            height: 121px;
            margin: 54px auto 34px;
            margin-top: 54 auto auto px;
            display: flex;
            justify-content: center;
            align-items: center;

            #custom-titlebox {
                width: 620px;
                height: 121px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @media ($media-lg) {
                    width: 540px;
                    height: 121px;
                }


                @media ($media-md) {
                    width: 620px;
                    height: 121px;

                }

                @media ($media-sm) {
                    width: 620px;
                    height: 121px;
                }

                h2 {
                    font-size: 36px;
                    font-style: italic;
                }

                h3 {
                    font-size: 18px;
                }
            }
        }
    }

    .dimond-left {
        width: 34px;
        height: 60px;
        margin: 0 40px 0 0;

        // @media ($media-lg) {
        //     margin: 0 40px 0 0;
        // }


        @media ($media-md) {
            margin: 0 20px 0 0;
        }

        @media ($media-sm) {
            margin: 0 40px 0 0;
        }

    }

    .dimond-right {
        width: 34px;
        height: 60px;
        margin: 0 0 0 40px;

        // // @media ($media-lg) {
        //     margin: 0 0 0 40px;
        // }


        @media ($media-md) {
            margin: 0 0 0 20px;
        }

        @media ($media-sm) {
            margin: 0 0 0 40px;
        }

    }

    button {
        width: 264px;
        height: 57px;
        /* 玻璃擬態 */
        border-radius: 40px;
        border: 1px solid rgba(255, 255, 255, 0.25);
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.10) inset, 0px 0px 15px 2px rgba(233, 166, 160, 0.30);
        backdrop-filter: blur(25px);

        a {
            color: #FFF;
        }
    }
}

/*水晶小百科*/
#section-crystaldiscovery {
    width: 100%;
    height: 100vh;
    border: #e9df70 5px solid;
    color: #8750BF;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;

    @media ($media-xlg-up) {
        display: flex;
        flex-direction: column;
        justify-content: center; /////
        align-items: center;
    }

    @media ($media-lg) {
        display: flex;
        flex-direction: column;
        justify-content: center; /////
        align-items: center;
    }

    @media ($media-md) {
        display: flex;
        flex-direction: column;
        justify-content: center; /////
        align-items: center;
    }

    .crystal-display {
        // display: flex;
        // justify-content: center;
        // align-items:center ;
        position: relative;
        margin: auto;

        width: 40%;
        height: 691px;

        @media ($media-xlg-up) {
            width: 100%;
            height: 58.5%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 0%;

        }

        @media ($media-lg) {
            width: 100%;
            height: 58.5%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 0%;
        }

        @media ($media-md) {
            width: 100%;
            height: 58.5%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 0%;
        }


        .circlebox {
            @media ($media-xlg-up) {
                position: absolute;
                top: 23%;
                left: 15%;
                transform: rotate(270deg);
            }

            @media ($media-lg) {
                position: absolute;
                top: 27%;
                left: 12%;
                transform: rotate(270deg);
            }

            @media ($media-md) {
                position: absolute;
                top: 20%;
                left: 18%;
                transform: rotate(270deg);
            }

            .circle {
                position: absolute;
                top: 80%;
                left: 13%;
                width: 100px;
                height: 100px;
                object-fit: cover;
                transform-origin: center -230px;
                /* 半徑可調整 */

                @media ($media-xlg-up) {
                    top: 80%;
                    left: 13%;
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    transform-origin: center 350px;
                }

                @media ($media-lg) {
                    // position: static;
                    // top: 80%;
                    // left: 13%;
                    // width: 100px;
                    // height: 100px;
                    // object-fit: cover;
                    // transform-origin: unset;
                    // overflow: hidden;
                    // position: absolute;
                    top: 80%;
                    left: 13%;
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    transform-origin: center 303px;
                    // transform:rotate(90deg) ;
                }

                @media ($media-md) {
                    top: 80%;
                    left: 13%;
                    width: 75px;
                    height: 75px;
                    object-fit: cover;
                    transform-origin: center 235px;
                }

            }

            .circle:nth-child(1) {
                transform: rotate(0deg);
            }

            .circle:nth-child(2) {
                transform: rotate(30deg);
            }

            .circle:nth-child(3) {
                transform: rotate(60deg);
            }

            .circle:nth-child(4) {
                transform: rotate(90deg);
            }

            .circle:nth-child(5) {
                transform: rotate(120deg);
            }

            .circle:nth-child(6) {
                transform: rotate(150deg);
            }

            .circle:nth-child(7) {
                transform: rotate(180deg);
            }

            .circle:nth-child(8) {
                transform: rotate(210deg);
            }

            .circle:nth-child(9) {
                transform: rotate(240deg);
            }

            .circle:nth-child(10) {
                transform: rotate(270deg);
                width: 150px;
                height: 150px;

                // position: relative;
                @media ($media-xlg-up) {
                    width: 125px;
                    height: 125px;
                }

                @media ($media-lg) {
                    // position: static;
                    // transform: unset;
                    width: 125px;
                    height: 125px;
                }

                @media ($media-md) {
                    // position: static;
                    // transform: unset;
                    width: 95px;
                    height: 95px;
                }

                &::before {
                    content: "";
                    width: 60px;
                    height: 60px;
                    background-image: url(../../../public/images/HomePage/icon_btn_up.ico.svg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    display: inline-block;
                    position: fixed;
                    top: -49%;
                    right: 36%;

                    @media ($media-xlg-up) {
                        width: 48px;
                        height: 48px;
                        top: -41%;
                        right: 30%;
                        transform: rotate(90deg);
                    }

                    @media ($media-lg) {
                        width: 48px;
                        height: 48px;
                        top: -41%;
                        right: 30%;
                        transform: rotate(90deg);
                    }

                    @media ($media-md) {
                        background-size: 75%;
                        width: 48px;
                        height: 48px;
                        top: -41%;
                        right: 30%;
                        transform: rotate(90deg);
                    }
                }

                &::after {
                    content: "";
                    width: 60px;
                    height: 60px;
                    background-image: url(../../../public/images/HomePage/icon_btn_down.ico.svg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    display: inline-block;
                    position: absolute;
                    top: 108%;
                    right: 36%;

                    @media ($media-xlg-up) {
                        width: 48px;
                        height: 48px;
                        top: 102%;
                        right: 31%;
                        transform: rotate(90deg);
                    }

                    @media ($media-lg) {
                        width: 48px;
                        height: 48px;
                        top: 102%;
                        right: 31%;
                        transform: rotate(90deg);
                    }

                    @media ($media-md) {
                        background-size: 75%;
                        width: 48px;
                        height: 48px;
                        top: 102%;
                        right: 31%;
                        transform: rotate(90deg);
                    }
                }
            }

            .circle:nth-child(11) {
                transform: rotate(300deg);
            }

            .circle:nth-child(12) {
                transform: rotate(330deg);
            }
        }

    }
}

.section-crystaldiscovery {
    margin: 6.7% 11.5% 9.7% 7.91%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 35px;

    @media ($media-xlg) {
        //ipad mini爆
        margin: 6.7% 8.5% 9.7% 7.91%;
    }

    @media ($media-lg) {
        // ipad air 直向 & ipad mini直向 共用
        margin: 6.7% 0% 9.7% 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: 35px;
    }

    header {
        width: 498px;
        height: 78px;

        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;

        #titlediscovery {
            /* color: #FFF; */
            font-size: 28px;
            width: 498px;
            height: 78px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &::before {
            content: "";
            display: block;
            // left: 10.61px;
            // top: 18.28px;
            // transform: rotate(-35deg);
            width: 82.94px;
            height: 11.31px;
            margin-right: 16px;

            background-image: url("../../../public/images/HomePage/deco-left-purple.svg");
            background-size: contain;
            background-repeat: no-repeat;
        }

        &::after {
            content: "";
            display: block;
            // left: 10.61px;
            // top: 18.28px;
            // transform: rotate(180deg);
            width: 82.94px;
            height: 11.31px;
            margin-right: 16px;

            background-image: url("../../../public/images/HomePage/deco-right-purple.svg");
            background-size: contain;
            background-repeat: no-repeat;
        }

    }

    .crystaldiscovery {
        display: flex;
        flex-direction: column;
        gap: 20px;

        /* 水晶info */
        .crystal {
            width: 600px;
            height: 118px;
            padding: 20px 35px;
            /* border: 2px #FFF solid; */
            display: flex;
            justify-items: center;
            align-items: center;
            /* 玻璃擬態 */
            border-radius: 20px;
            background: rgba(252, 252, 252, 0.40);
            box-shadow: 0px 0px 10px 0px rgba(233, 166, 160, 0.30);
            backdrop-filter: blur(2.5px);


            .crystal-name {
                width: 117px;
                height: 78px;
                padding: 0 24px 0 0;
                border-right: 1px #8750BF solid;
                ;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .en {
                    font-size: 20px;
                    font-style: italic;

                }

                .ch {
                    font-size: 28px;
                }
            }

            .discovery-content {
                font-size: 100%;
                width: 389px;
                height: 78px;
                padding: 0 0 0 24px;
                margin: none;
            }
        }

        /* 主要功效 */
        .discovery-p1 {
            width: 600px;
            height: 164px;
            padding: 20px 35px;
            /* border: 2px #FFF solid; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* 玻璃擬態 */
            border-radius: 20px;
            background: rgba(252, 252, 252, 0.40);
            box-shadow: 0px 0px 10px 0px rgba(233, 166, 160, 0.30);
            backdrop-filter: blur(2.5px);

            h2 {
                font-size: 20px;
                width: 530px;
                height: 30px;
                padding: 0 0 8px 0;
                border-bottom: 1px #8750BF solid;
                display: flex;
                align-items: center;
            }

            .discovery-p1content {
                width: 530px;
                height: 78px;
                margin-top: 8px;
            }
        }

        /* 適合人群 */
        .discovery-p2 {
            width: 600px;
            height: 138px;
            padding: 20px 35px;
            /* border: 2px #FFF solid; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* 玻璃擬態 */
            border-radius: 20px;
            background: rgba(252, 252, 252, 0.40);
            box-shadow: 0px 0px 10px 0px rgba(233, 166, 160, 0.30);
            backdrop-filter: blur(2.5px);

            h2 {
                font-size: 20px;
                width: 530px;
                height: 30px;
                padding: 0 0 8px 0;
                border-bottom: 1px #8750BF solid;
                display: flex;
                align-items: center;
            }

            .discovery-p2content {
                width: 530px;
                height: 52px;
                margin-top: 8px;
            }
        }

        /* 建議水晶 */
        .discovery-p3 {
            width: 600px;
            height: 76px;
            padding: 20px 35px;
            gap: 32px;
            display: flex;
            align-items: center;
            /* 玻璃擬態 */
            border-radius: 20px;
            background: rgba(252, 252, 252, 0.40);
            box-shadow: 0px 0px 10px 0px rgba(233, 166, 160, 0.30);
            backdrop-filter: blur(2.5px);

            h2 {
                font-size: 20px;
                width: 132px;
                height: 30px;
                /* border: 1px #FFF solid; */
                display: flex;
                align-items: center;
            }

            .discovery-imgbox {
                display: flex;
                gap: 12px;

                .discovery-img {
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                }
            }
        }
    }
}


/*礦迷回饋*/
#section-feedback {

    width: 100%;
    height: 68.75vh;
    border: 2px white solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .feedback-displaytitle {
         z-index: 99;
        width: 438px;
        height: 78px;
        margin: 0 auto 90px;
        display: flex;
        align-items: center;

        @media ($media-lg) {
            // margin: 30px auto;
        }

        #fbtitle {
            color: #FFF;
            font-size: 28px;
            width: 438px;
            height: 78px;
            /* margin: 0 auto 90px; */
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .feedback-box {
        // margin: 0 0 142px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;



        .feedback-arrowleft {
            width: 48px;
            height: 48px;
            margin: 0 23px 0 0;

            @media ($media-xlg) {
                margin: 0;
            }

            @media ($media-lg) {
                // transform: rotate(90deg);
            }
        }

        .feedback-arrowright {
            width: 48px;
            height: 48px;
            margin: 0 0 0 23px;

            @media ($media-xlg) {
                margin: 0;
            }

            @media ($media-lg) {
                // transform: rotate(90deg);
            }
        }

        @media ($media-xlg) {
            .feedback:nth-of-type(4) {
                display: none;
            }
        }

        // @media ($media-xlg) {
        //     .feedback:nth-of-type(3) {
        //         display: none;
        //     }
        // }  

        @media ($media-lg) {
            // display: flex;
            // flex-direction: column;

            .feedback:nth-of-type(3) {
                display: none;
            }

            .feedback:nth-of-type(4) {
                display: none;
            }
        }

    }

    .feedback {
        color: #FFF;
        width: 290px;
        height: 140px;
        border-radius: 20px;
        /* border: 1px solid #000; */
        padding: 15px;
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 12px;
        /* 玻璃擬態 */
        border-radius: 20px;
        background: rgba(252, 252, 252, 0.40);
        box-shadow: 0px 0px 10px 0px rgba(233, 166, 160, 0.30);
        backdrop-filter: blur(2.5px);

        // @media ($media-xlg) {
        //     width: 270px;
        //     height: 140px;
        //     padding: 15px;
        //     gap: 10px;
        // }

        @media ($media-xlg) {
            width: 220px;
            height: 120px;
            padding: 10px;
            gap: 10px;
        }



        .review-pic {
            display: flex;
            flex-direction: column;
            align-items: center;


            .member-img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-bottom: -5px;

            }

            .review-img {
                width: 113px;
                height: 90px;
                border-radius: 10px;

                @media ($media-xlg) {
                    width: 100px;
                    height: 80px;
                    margin-top: -10px;
                }
            }
        }


        .feedback-left {
            width: 135px;
            height: 110px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 7px;

            .star-box {
                display: flex;
                justify-content: start;
                gap: 8px;

                .star {
                    width: 10px;
                    height: 17px;
                }
            }

            // .content p {

            p {
                width: 135px;
                height: 72px;
                font-family: 'Noto Sans TC', sans-serif;

                // margin: 7px 15px 20.87px 12px;
                font-size: 12px;

                display: -webkit-box;
                -webkit-line-clamp: 4;
                /* 顯示 3 行 */
                -webkit-box-orient: vertical;
                overflow: hidden;

                @media ($media-xlg) {
                    width: 90px;
                    height: 75px;
                    font-size: 10px;
                    -webkit-line-clamp: 5;
                }
            }
        }
    }
}