/* 變數：root */
:root{
    --color-deep:#585858;
    --bg:url(/public/images/S-Background/noise-background.jpg);
    --color-bg1:#faf2fc;
    --color-primary1:#8750BF;
    --color-primary2:rgb(162, 105, 232);
    --color-lesser3:rgb(66, 73, 212);
    --letter-spacing:2.4px;
    --font-h2: "LXGW WenKai Mono TC",  monospace;
    --font-button-24: "Noto Sans TC", sans-serif;
}



/* 內容 */
.content-j {
    font-size: 14px;
    font-family: 'Noto Sans TC';
    font-weight: 400;
    font-style: var(--font-button-24);
    letter-spacing: 1.4px;
    text-align: center;
    margin: 3vh 0 0;
}
.text-j {
    color: var(--color-deep);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text2, .text3 {
    color: var(--color-deep);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}
.text3-wrap {
    top: 150px;
}
.text2 img, .text3 img {
    width: 82.936px;
}
.text2 h2, .text3 h2 {
    color: var(--color-primary1);
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 32px;
    font-family: var(--font-h2);
    font-size: 30px;
    letter-spacing: var(--letter-spacing);
}
.text2 h2 {
    margin-top: -230px;
}
.text-j h2 {
    color: var(--color-primary1);
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 32px;
    font-family: var(--font-h2);
    font-size: 30px;
    letter-spacing: var(--letter-spacing);
}
.index, .index2, .index3 {
    /* height: calc(100vh - 70px); */
    height: 100vh;
    position: relative;
    z-index: 0;
}
.index {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.index2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 300px;
    z-index: 1;
}
.button-box {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 50px;
}
.button-box2, .button-box3 {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 50px;
}
.button-box2 {
    margin-top: -150px;
}
.button1, .button2 {
    color: #ffffff;
    font-size: 24px;
    font-family: 'Noto Sans TC';
    font-weight: 400;
    letter-spacing: var(--letter-spacing);
    border: none;
    border-radius: 999px;
        /* 背景材質 */
        background-image: 
        linear-gradient(rgba(162, 105, 232, 0.95), rgba(162, 105, 232, 0.95)),
        var(--bg);
    z-index: 1;
}
.button1 {
    padding: 1px 6px;
    width: 340px;
    height: 68px;
}
.button2 {
    padding: 0;
    width: 236px;
    height: 56px;
}
.background-1, .background-2 {
    /* border: 3px solid #83000b; */
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    /* top: 280px; */
    z-index: 0;
}
.background-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;

}
.background-1 img {
    display: block;
    justify-content: center;
    width: 170%;
}
.img1 {
    background-image: url(/public/images/Custom/custom-bracelet-recommend-1.png);
    width: 386px;
    height: 387px;
}
.img2 {
    background-image: url(/public/images/Custom/custom-bracelet-recommend-2.png);
}
.img3 {
    background-image: url(/public/images/Custom/custom-bracelet-recommend-3.png);
}
.img2, .img3 {
    width: 322px;
    height: 322px;
}
.index3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    padding-top: 150px;
    padding-bottom: 75px;
}

@media screen and (max-width: 1024px) {
    .button-box2 {
        margin-top: -120px;
        gap: 30px;
    }   
    .button-box {
        gap: 30px;
    } 
    .button1 {
        width: 280px;
        height: 60px;
    }  
    .background-1 img {
        display: flex;
        justify-content: center;
        width: 180%;
    }      
}
