@import '../../components/BgLight.css';

.pc_main{
    width: 100%;
    min-height:100vh;
    padding-top: 70px;             /* 🟣 下推內容，避免被 navbar 壓住 */
    box-sizing: border-box;        /* 🟣 讓 padding 計入 100vh */
    display:flex;
    flex-direction:column; 
}
/* 主要內容區 */

/* ─── 系列 icon 區 ─────────────────────────────── */
.pc_icon_area {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 28.5rem;/* 485px */
    gap: 100px;
    position: relative;  /* 給 z-index 用 */
    z-index: 1;          /* 放在下層 */
}

.pc_icon_item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.pc_icon_item img {
    width: 8.75rem;/* 140px */
    height: 8.75rem;
}

.pc_icon_item span {
    color: #8750BF;
    /* 中文/小標題1 */
    font-family: "Noto Sans TC";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 1px;
}

/* 被選中的 icon 下方三角形 */
.pc_icon_item.pc_active::after {
    content: "";
    position: absolute;
    bottom: -8rem;           /* 對齊 product_area 上緣 */
    left: 50%;
    transform: translateX(-50%);
    width: 6rem;
    height: 5rem;
    background:
    /* 材質圖 */
    url(./public/images/S-Background/bg-noise-light.png), 
    #F1F7F7;         /* 同 product_area 底色 */
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    z-index: 99;                 /* 確保蓋在最上面 */

}

/* ─── 商品區與背景對話框 ──────────────────────── */
.pc_product_area {
    /* height: 1040px; */
    
    background:
        /* 材質圖 */
        url(./public/images/S-Background/bg-noise-light.png),

        /* 左中 */
        radial-gradient(circle 40vw at 0% 0%,
            rgba(245, 249, 212, 0.35) 0%, 
            rgba(245, 249, 212, 0.00) 100%),

        /* 左下 */
        radial-gradient(circle 48.76vw at 5% 85%,
            rgb(209, 235, 240) 0%, 
            rgba(209, 235, 240, 0.00) 100%),

        /* 上 */
        radial-gradient(circle 48.76vw at 75% -15%,
            rgba(245, 249, 212, 0.35) 0%, 
            rgba(245, 249, 212, 0.00) 100%),

        /* 右上 */
        radial-gradient(circle 62.43vw at 50% -45%,
            rgb(209, 235, 240) 0%, 
            rgba(209, 235, 240, 0.00) 100%),
        
        /* 右下 */
        radial-gradient(circle 62.43vw at 125% 90%,
            rgb(209, 235, 240) 0%, 
            rgba(209, 235, 240, 0.00) 100%);
    background-color:#F1F7F7;
    background-repeat: repeat;
    background-size: cover;
    background-position: center; /* 每層置中（光暈已用 at 定位不受影響） */
    background-attachment: fixed;/* 捲動時位置固定 */

    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding:8rem 0 16rem; 

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: -2.5rem;  /* 覆蓋 40px */
    position: relative; /* 給 z-index 用 */
    z-index: 2;         /* 蓋在 .pc_icon_area 上 */
}

/* ─── 商品們 ─────────────────────────────────── */
.pc_products {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 5rem;/* 80px */

    width: 80%;
}

.pc_product_card {
    flex:1 1 16rem; /* 256px 寬，可縮放 */
    max-width:18rem; /* 288px 上限 */
}

/* 商品照 */
.pc_product_img_wrap {
    position: relative;

    border-radius: 20px;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 15px 0px rgba(209, 235, 240, 0.80);

    overflow: hidden;

    margin-bottom: 1.25rem;/* 20px */
    aspect-ratio: 25 / 27;   /* 寬 = 高 */
}

.pc_product_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pc_fav_icon {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 1rem; /* 16px */
    right: 1rem;
    cursor: pointer;
}

/* 商品資訊 */
.pc_product_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;/* 8px */
}

.pc_product_name {
    color: #585858;
    /* 中文/小標題2 */
    font-family: "Noto Sans TC";
    font-size: 1rem;/* 16px */
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.1rem;/* 1.6px */
}

.pc_product_price {
    color: #125FB2;
    /* 中文/內文2 */
    font-family: "Noto Sans TC";
    font-size: 0.875rem; /* 14px */
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.088rem; /* 1.4px */
}

/* 水晶 */
.pc_product_crystals {
    display: flex;
    gap: 0.375rem; /* 6px */
}

.pc_crystal_img {
    width: 1.125rem; /* 18px */
    height: 1.125rem;
}

/* ─── 系列產品介紹 ────────────────────────────── */
.pc_product_introduce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pc_product_introduce h5 {
    color: #128DB2;
    /* 中文/霞鶩文楷/標題5 */
    font-family: "LXGW WenKai Mono TC";
    font-size: 1.25rem;/* 20px */
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.125rem;/* 2px */
}

.pc_divider_line {
    width: 43.75rem;/* 700px */
    margin: 0.625rem 0 1.25rem;
}

.pc_product_introduce p {
    color: #585858;
    /* 中文/思源黑體/內文2 */
    font-family: "Noto Sans TC";
    font-size: 0.875rem;/* 14px */
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.088rem;/* 1.4px */
}
.pc_footer{
    /* width: 100%; */
    position: relative;

    clip-path: ellipse(70% 100% at 50% 100%);
    padding-top: 9.0625rem;/* 145px */

    margin-top:-10rem; 

    z-index: 3;
}