@import '../../components/BgLight.css';

.p_product {
    width: 100%;
    /* height: 100vh; */
    padding-top:4.375rem; /* 70px */           
    box-sizing: border-box;
    display:flex;
    flex-direction:column;         
}


/* ────────── 主要內容區 ────────────── */

/* 單一商品區 */
.p_product_area{
    flex: 1;    /* 在父層 flex 裡撐滿剩餘空間 */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    padding: 6rem 12rem;/* 95px 190px */

    margin-bottom: 6.5vw;
}

.p_product_box{
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 3.75rem;/* 60px */
    width: 100%;
}

/* 商品照 (左側) */
.p_product_img_left{
    border-radius: 2.5rem;/* 40px */
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 15px 0px rgba(233, 166, 160, 0.25);
    overflow: hidden;
    position: relative;

    flex: 1 0 42%;          /* 在左右雙欄中占約 42% */
    max-width: 32rem;       /* ≈512 px；桌機上限 */
    aspect-ratio: 1 / 1;    /* 1:1，CSS 會自算 height */
}

.p_product_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p_product_img_left .p_fav_icon{
    width: 4.5rem;
    height: 4.5rem;
    position: absolute;
    top: 1rem;/* 16px */
    right: 1rem;
    cursor: pointer;
}

/* 商品介紹 (右側) */
.p_product_right{
    flex:1 1 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;/* 20px */

    max-width: 34.5rem;

    color: #585858;
}

.p_product_title{
    display: flex;
    justify-content: space-between;
}

.p_product_title h3{
    /* 中文/小標題1 */
    font-family: "Noto Sans TC";
    font-size: 1.25rem; /* 20px */
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.063rem; /* 1px */
    margin: 0;
}

.p_product_title span{
    /* 中文/內文1 */
    font-family: "Noto Sans TC";
    font-size: 1rem; /* 16px */
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.1rem;/* 1.6px */
    margin: 0;
}

.p_product_right hr{
    width: 100%;
    border: 1px solid #000000;
    margin: 0;
}

.p_product_description,
.p_product_crystal_area p,
.p_product_size,.p_product_hand{
    /* 中文/內文2 */
    font-family: "Noto Sans TC";
    font-size: 0.875rem; /* 14px */
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.088rem; /* 1.4px */
    margin: 0;
}

/* 水晶區 */
.p_product_crystal_area{
    display: flex;
    flex-direction: column;
}

.p_product_crystals{
    display: flex;
    gap: 0.625rem;/* 10px */
    margin-bottom: 0.5rem;/* 8px */
}

.p_crystal_img{
    width: 1.5rem;
    height: 1.5rem;
}

/* 串珠與手圍 */
.p_product_size,
.p_product_hand{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.p_product_size button,
.p_product_hand button{
    border-radius: 999px;
    border: 1px solid #A67CEB;
    background-color: transparent;
    height: 2.3rem;
    width: 2.3rem;
    color: #A67CEB;
}

/* 數量 + / − */
.p_product_qty,
.p_product_qty button{
    /* 中文/小標題1 */
    font-family: "Noto Sans TC";
    font-size: 1.25rem;/* 20px */
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.063rem;/* 1px */

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.p_product_qty .p_left,
.p_product_qty .p_right{
    border-radius: 999px;
    border: 1px solid #8750BF;
    background-color: #8750BF;
    height: 2.5rem;
    width: 2.5rem;
    color: #FFF;
}

.p_product_qty .p_center{
    border-radius: 999px;
    border: 1px solid #A67CEB;
    background-color: transparent;
    height: 2.5rem;
    flex: 1;
    color: #585858;
}

/* 購買按鈕 */
.p_product_buy{
    display: flex;
    gap: 1.25rem;/* 20px */
}

.p_product_buy button{
    border-radius: 999px;
    border: 1px solid #A67CEB;
    background-color: #A67CEB;
    height: 2.5rem;
    flex: 1;

    color: #FFF;
    /* 按鈕/16 */
    font-family: "Noto Sans TC";
    font-size: 1rem;/* 16px */
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    letter-spacing: 0.1rem;/* 1.6px */
}

/* ────────── Collection 區 ───────────────────── */

.p_collection{
    color: #FFF;
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 43px;


    /* width: 100%;
    position: relative; */

    clip-path: ellipse(77% 100% at 50% 100%);
    /* box-sizing: border-box; */

    padding-top: 145px;
    margin-bottom: 50px;
}

/* 標題 */
.p_collection_title{
    /* en/h1 */
    font-family: "Lora";
    font-size: 1.5rem;/* 24px */
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.15rem;/* 2.4px */
    margin: 0;
}

/* 系列商品列表 */
.p_collection_products{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

/* 單張商品卡 */
.p_product_card{
    width: 259.25px;
    height: 342.56px;
}

.p_product_img_wrap{
    border-radius: 20px;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    aspect-ratio: 1 / 1;   /* 寬 = 高 */
}

.p_product_img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.p_fav_icon{
    width: 48px;
    height: 48px;
    position: absolute;
    top: 16px;
    right: 20px;
    cursor: pointer;
}

/* 商品資訊 */
.p_product_info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.p_product_name{
    font-family: "Noto Sans TC";
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1.6px;
}

.p_product_price{
    font-family: "Noto Sans TC";
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 1.4px;
}

/* 卡片內水晶 */
.p_product_crystals{
    display: flex;
    gap: 6px;
}

.ps_crystal_img{
    width: 1.125rem; /* 18px */
    height: 1.125rem;
}

.p_footer{
    position: relative;
    /* z-index: 2; */
  }