.bg-ani-wrapper {
    position: absolute;
    inset: 0;
    z-index: -1;
    /* 蓋在 BgLight 上層，但低於內容 */
    pointer-events: none;
}

/* 共用動畫樣式 */
/* 公用樣式 */
.ani-crystal {
    position: absolute;
    height: auto;
    animation: float 12s ease-in-out infinite;
    will-change: transform;
}

/* 個別設定大小、位置、延遲 */
.crystal1 {
    top: -5%;
    left: 45%;
    width: 420px;
    animation-delay: 0s;
    transform: rotate(5deg);
}

.crystal2 {
    top: -10%;
    left: 0%;
    width: 500px;
    animation-delay: 1s;
    transform: rotate(-10deg);
}

.crystal3 {
    top: 40%;
    left: 75%;
    width: 350px;
    animation-delay: 2s;
    transform: rotate(2deg);
}

.crystal4 {
    bottom: 40%;
    left: 25%;
    width: 100px;
    animation-delay: 1.2s;
    transform: rotate(-3deg);
}

.crystal5 {
    top: 55%;
    left: 0%;
    width: 600px;
    animation-delay: 2.4s;
    transform: rotate(5deg);
}

.crystal6 {
    bottom: -20%;
    right: 20%;
    width: 300px;
    animation-delay: 0.6s;
    transform: rotate(-2deg);
}

.crystal7 {
    top: 45%;
    right: 35%;
    width: 100px;
    animation-delay: 1.8s;
    transform: rotate(1deg);
}

.crystal8 {
    top: 30%;
    right: 18%;
    width: 120px;
    animation-delay: 3s;
    transform: rotate(-5deg);
}

/* 飄動動畫 */
@keyframes float {

    0%,
    100% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateY(-60px) rotate(20deg);
    }
}


/* rwd */
/* ========== 超大螢幕（1680px 以上） ========== */
@media (min-width: 1680px) {
    .crystal1 {
        width: 700px;
        top: -10%;
        left: 40%;
    }

    .crystal2 {
        width: 600px;
        top: 0%;
        left: 0%;
    }

    .crystal3 {
        width: 600px;
        top: 15%;
        left: 72%
    }

    .crystal4 {
        width: 200px;
        bottom: 35%;
        left: 30%;
    }

    .crystal5 {
        width: 800px;
        top: 50%;
        left: 5%;
    }

    .crystal6 {
        width: 300px;
        bottom: -20%;
        right: 20%;
    }

    .crystal7 {
        width: 140px;
        top: 40%;
        right: 25%;
    }

    .crystal8 {
        width: 160px;
        top: 50%;
        right: 40%;
    }
}

/* ========== 1024px 以下（平板） ========== */
@media (max-width: 1024px) {
    .crystal1 {
        width: 500px;
        top: 0%;
        left: 50%;
    }

    .crystal2 {
        width: 500px;
        top: 10%;
        left: 0%;
    }

    .crystal3 {
        width: 400px;
        top: 35%;
        left: 70%;
    }

    .crystal4 {
        width: 80px;
        bottom: 35%;
        left: 20%;
    }

    .crystal5 {
        width: 700px;
        top: 60%;
        left: -10%;
    }

    .crystal6 {
        width: 300px;
        bottom: -5%;
        right: 10%;
    }

    .crystal7 {
        width: 120px;
        top: 50%;
        right: 25%;
    }

    .crystal8 {
        width: 130px;
        top: 25%;
        right: 25%;
    }
}

/* ========== 820px 以下（小平板 / 手機橫） ========== */
@media (max-width: 820px) {
    .crystal1 {
        width: 300px;
        top: 10%;
        left: 30%;
    }

    .crystal2 {
        width: 300px;
        top: 20%;
        left: 0%;
    }

    .crystal3 {
        width: 300px;
        top: 30%;
        left: 80%;
    }

    .crystal4 {
        width: 70px;
        bottom: 30%;
        left: 35%;
    }

    .crystal5 {
        width: 360px;
        top: 60%;
        left: 0%;
    }

    .crystal6 {
        width: 200px;
        bottom: -5%;
        right: 10%;
    }

    .crystal7 {
        width: 70px;
        top: 50%;
        right: 20%;
    }

    .crystal8 {
        width: 90px;
        top: 25%;
        right: 10%;
    }
}

/* ========== 640px 以下（手機直） ========== */
@media (max-width: 640px) {
    .crystal1 {
        width: 240px;
        top: 20%;
        left: 0%;
    }

    .crystal2 {
        width: 260px;
        top: 0%;
        left: 40%;
    }

    .crystal3 {
        width: 200px;
        top: 40%;
        left: 70%;
    }

    .crystal4 {
        width: 60px;
        bottom: 40%;
        left: 20%;
    }

    .crystal5 {
        width: 260px;
        top: 60%;
        left: 5%;
    }

    .crystal6 {
        width: 200px;
        bottom: -5%;
        right: 10%;
    }

    .crystal7 {
        width: 60px;
        top: 45%;
        right: 30%;
    }

    .crystal8 {
        width: 80px;
        top: 30%;
        right: 15%;
    }
}