main {
    height: 100%; 
    background:
        /* 材質圖 */
        url(../images/S-Background/bg-noise-light.png),

        /* 左上角白色暈光 */
        radial-gradient(circle 40vw at 0% 0%,
            rgb(255, 255, 255) 0%, 
            rgba(255, 255, 255, 0.20) 50%, 
            rgba(255, 255, 255, 0.00) 100%),

        /* 左 */
        radial-gradient(circle 48.76vw at 5% 85%,
            rgba(162, 141, 255, 0.45) 0%,
            rgba(162, 141, 255, 0.09) 50.96%,
            rgba(162, 141, 255, 0.00) 100%),

        /* 上右 */
        radial-gradient(circle 48.76vw at 75% -15%,
            rgba(162, 141, 255, 0.45) 0%,
            rgba(162, 141, 255, 0.09) 50.96%,
            rgba(162, 141, 255, 0.00) 100%),

        /* 上左 */
        radial-gradient(circle 62.43vw at 50% -45%,
            rgba(255, 120, 158, 0.32) 22.12%,
            rgba(255, 120, 158, 0.05) 60.1%,
            rgba(255, 120, 158, 0.00) 100%),
        
        /* 中間 */
        radial-gradient(circle 48.76vw at 40% 50%,
            rgb(255, 255, 255) 0%, 
            rgba(255, 255, 255, 0.20) 75%, 
            rgba(255, 255, 255, 0.00) 100%),
        
        /* 右 */
        radial-gradient(circle 62.43vw at 125% 90%,
            rgba(255, 120, 158, 0.32) 22.12%,
            rgba(255, 120, 158, 0.05) 60.1%,
            rgba(255, 120, 158, 0.00) 100%);



    background-color: #FFFFFF; /* 底色 */
    background-repeat: repeat;
    background-size: cover;
    background-position: center; /* 每層置中（光暈已用 at 定位不受影響） */
    background-attachment: fixed;/* 捲動時位置固定 */

    z-index: 0;
}