/* footer */
.footercurve{
    position:relative;
    background:#5348AA;
    color:#fff;
    height: 100%;
    height: 277px;
} 
/* 弧形區 */
.footercurve_area{
    position: absolute; /* 改絕對定位貼在 footer 頂端 */
    top: 0;
    left: 0;
    width: 100%;
    height: 146px; /* 與 SVG viewBox 高度一致 */
    overflow: hidden;
    pointer-events: none; /* 避免覆蓋到往上點擊的元素 */
    transform: translateY(-99%); /* 往上推一整個高度，蓋住 main 底部 */
} 
.footercurve_area svg{
    width: 100%;
    height: 100%;
    display: block;
    color: #5348AA;     /* 確保路徑顏色跟 footer 相同 */
} 

/* 資訊區 */
.footercurve_info{
    display: flex;
    justify-content: center; 
    gap: 120px;
    padding-bottom: 38px;
}

/* 各個小標題 */
.footercurve_title{
    font-size: 14px;
    font-family: "Noto Sans TC";
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1.40px;
    margin-bottom: 14px;
}
.footercurve a,.footercurve p{
    color: white;
    font-size: 14px;
    font-family: "Noto Sans TC";
    line-height: 150%;
    letter-spacing: 1.40px;
}
.footercurve_social_icon{
    display: flex;
    gap: 10px;
}
.footercurve_social_icon a{
    width: 40px;
    height: 40px;
    transition: 0.35s;
    background-size: contain;
}
.footercurve_icon_line{
    background-image: url(/images/S-Footer/icon_line.svg);
}
.footercurve_icon_ig{
    background-image: url(/images/S-Footer/icon_ig.svg);
}
.footercurve_icon_fb{
    background-image: url(/images/S-Footer/icon_fb.svg);
}
.footercurve_icon_line:hover {
    background-image: url(/images/S-Footer/icon_line_h.svg);
}
.footercurve_icon_ig:hover {
    background-image: url(/images/S-Footer/icon_ig_h.svg);
}
.footercurve_icon_fb:hover {
    background-image: url(/images/S-Footer/icon_fb_h.svg);
}
.footercurve_bottom{
    height: 70px;
    text-align:center;

    font-size: 14px;
    font-family: "Noto Sans TC";
    line-height: 21px;
    letter-spacing: 1.40px;
}
.footercurve_bottom hr{
    width: 100%;
    color: #D9D9D9;
    border: 1px solid #FFFFFF;
    margin-bottom: 25px;
}