.header2 {
  /* 背景材質 */
    background-image:
      linear-gradient(107deg, rgba(162, 105, 232, 0.95) -19.31%, rgba(66, 73, 212, 0.95) 169.85%),
      url(/public/images/S-Background/noise-background.jpg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 70px;
}

/* Logo */
.logo-header img {
  width: 180px;
}

/* 導覽 */
.nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav ul li img {
  width: 30px;
  height: 30px;
}


@media screen and (max-width: 1024px) {
  .nav ul {
    gap: 16px;
  }

  /* 隱藏搜尋 icon（第一個 li） */
  .nav ul li:first-child {
    display: none;
  }

  /* 擴大點擊區但不影響圖片大小 */
  .nav ul li {
    min-width: 48px;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}