html, body {
  overflow-x: hidden;
}

.header1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  z-index: 999;
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0.26) 0%,
      rgba(0, 0, 0, 0.22) 23.56%,
      rgba(0, 0, 0, 0.06) 64.9%,
      rgba(0, 0, 0, 0) 100%);
  backdrop-filter: blur(2px);
}

.header-content1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 50px;
}

/* Logo */
.logo-header img {
  width: 180px;
}

/* 導覽 */
.nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav ul li img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 1024px) {
  .nav ul {
    gap: 16px;
  }

  /* 隱藏搜尋 icon（第一個 li） */
  .nav ul li:first-child {
    display: none;
  }

  /* 擴大點擊區但不影響圖片大小 */
  .nav ul li {
    min-width: 48px;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}