  /* 導覽列 */
  #navbar2 {
    display: flex;
    /* flex:橫排 */
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    position: relative;
    z-index: 99;
    /* 背景材質 */
    background-image:
      linear-gradient(107deg, rgba(162, 105, 232, 0.95) -19.31%, rgba(66, 73, 212, 0.95) 169.85%),
      url(/public/images/S-Background/noise-background.jpg);
  }

.logo2 img {
  width: 181px;
  margin-left: 50px;
}

header ul {
  display: flex;
  align-items: flex-end;
}

.icon2 {
  display: flex;
  margin-right: 50px;
  gap: 20px;
}

.icon2 a {
  width: 34px;
  height: 34px;
  margin: 0px;
  background-size: contain;
}

/* icon */
.icon-search {
  background-image: url(/public/images/S-NavBar/navicon_search.svg);
}
.icon-cart {
  background-image: url(/public/images/S-NavBar/navicon_cart.svg);
}
.icon-member {
  background-image: url(/public/images/S-NavBar/navicon_member.svg);
  display: block;
  width: 34px;
  height: 34px;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon-menu {
  background-image: url(/public/images/S-NavBar/navicon_bgrbtn.svg);
}

/* 按鈕樣式 */
.member-button2 {
  all: unset;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;}


@media screen and (max-width: 1024px) {
  /* 隱藏搜尋 icon */
  /* .icon2 li:first-child {
    display: none;
  } */

  /*  icon 區塊放大但不影響 icon 大小 */
  .icon2 li {
    min-width: 48px;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; 
  }
}