  /* 導覽列 */
  #navbar2 {
    display: flex;
    /* flex:橫排 */
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 99;
    /* 背景材質 */
    background-image:
      linear-gradient(107deg, rgba(162, 105, 232, 0.95) -19.31%, rgba(66, 73, 212, 0.95) 169.85%),
      url(./images/S-Background/noise-background.jpg);
  }

  .logo2 img {
    width: 181px;
    margin-left: 50px;
  }

  header ul {
    display: flex;
    align-items: flex-end;
  }

  .icon2 {
    display: flex;
    margin-right: 50px;
    gap: 20px;
  }

  .icon2 a {
    width: 34px;
    height: 34px;
    margin: 0px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  /* icon */
  .icon-search {
    background-image: url(/public/images/S-NavBar/navicon_search.svg);
  }

  .icon-cart {
    background-image: url(/public/images/S-NavBar/navicon_cart.svg);
  }

  .icon-member {
    background-image: url(/public/images/S-NavBar/navicon_member.svg);
    display: block;
    width: 34px;
    height: 34px;
    background-size: contain;
    /* background-repeat: no-repeat; */
  }

  .icon-menu {
    background-image: url(/public/images/S-NavBar/navicon_bgrbtn.svg);
  }


  /* 按鈕樣式 */
  .member-button2 {
    all: unset;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* 登入後的會員選單 */
  .member-dropdown {
    position: absolute;
    top: 48px;
    right: 0;
    background: rgba(244, 243, 251, 0.75) !important;
    backdrop-filter: blur(8px);
    padding: 10px 16px;
    border-radius: 30px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    z-index: 2000;
    display: flex;
    align-items: center;
    gap: 14px;
    min-width: 220px;
  }

  .member-avatar {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    object-fit: cover;
    border: #8750bf solid 1px;
  }

  .member-name {
    font-size: 16px;
    color: #8750bf;
    font-family: "Noto Sans TC";
    font-weight: 500;
  }

  .logout-button {
    font-size: 16px;
    background: transparent;
    border: none;
    color: #8750bf;
    cursor: pointer;
    padding: 0;
    margin-left: auto;
    /* ⬅ 推到最右側 */
    text-underline-offset: 4px;
  }

  .logout-button:hover {
    font-weight: 500;
    text-decoration: underline;
  }


  @media screen and (max-width: 1024px) {

    /* 隱藏搜尋 icon */
    .icon2 li:first-child {
      display: none;
    }

    /*  icon 區塊放大但不影響 icon 大小 */
    /* .icon2 li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; 稍微縮小間距
    margin: 0 9px;
    width: 30px;
    height: 30px;
  } */


    /*  member icon 的 button 也確保大小一致 */
    /* .member-button2 {
    width: 30px;
    height: 30px;
    padding: 0;
  } */
  }